{% extends 'base.html' %}

{% block title %}Výzvy{% endblock %}

{% block content %}
<section class="masthead page-section text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-secondary">Výzvy</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-secondary">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="far fa-grin-stars"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
        {% for vyzva in znalosti_list %}
            <div class="col-lg-3 rounded bg-primary text-light vyzva">
                <h3 class="pre-wrap lead nazev_vyzvy">{{ vyzva.nazev }}</h3>
                <div class="divider-custom divider-blue">
                    <div class="divider-custom-line"></div>
                </div>
                <p class="pre-wrap lead">{{ vyzva.text }}</p>
                <i class="far fa-check-circle splneno"></i>
            </div>
        {% endfor %}
        {% for vyzva in schopnosti_list %}
            <div class="col-lg-3 rounded bg-primary text-light vyzva">
                <h3 class="pre-wrap lead nazev_vyzvy">{{ vyzva.nazev }}</h3>
                <div class="divider-custom divider-red">
                    <div class="divider-custom-line"></div>
                </div>
                <p class="pre-wrap lead">{{ vyzva.text }}</p>
                <i class="far fa-check-circle splneno"></i>
            </div>
        {% endfor %}
        {% for vyzva in pratelstvi_list %}
            <div class="col-lg-3 vyzva rounded bg-primary text-light">
                <div class="">
                    <h3 class="pre-wrap lead nazev_vyzvy">{{ vyzva.nazev }}</h3>
                    <div class="divider-custom divider-green">
                        <div class="divider-custom-line"></div>
                    </div>
                    {% with profile=user.profile%}
                    <p class="pre-wrap lead">{{ vyzva.text }}</p>
                    {% if vyzva.splneno == profile.id %}
                        <i class="far fa-fw fa-check-circle splneno"></i>
                    {% endif%}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}