{% extends 'base.html' %}

{% block title %}Výzvy{% endblock %}

{% block content %}
{% with profile=user.profile%}
<section class="masthead page-section text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-secondary">Výzvy</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-secondary">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="far fa-grin-stars"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
        {% for challenge in challenge_list %}
            <div class="col-lg-3 vyzva_list">
                <div class="rounded bg-primary text-light vyzva">
                    <h3 class="pre-wrap lead nazev_vyzvy">{{ challenge.name }}</h3>
                    {% for category in category_list %}
                        {% if challenge.category|stringformat:"s" == category.name %}
                            <div class="divider-custom divider-{{ category.color }}">
                                <div class="divider-custom-line"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <p class="pre-wrap lead">{{ challenge.text }}</p>
                    
                    {% for solved in solved_list %}
                        {% if solved.challenge|stringformat:"s" == challenge.name %}
                            <i class="far fa-fw fa-check-circle splneno"></i>
                            <p>{{solved.date}}</p>
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-lg-8 rounded bg-primary text-light challenges-form">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <select id="challenge" name="challenge">
                    {% for challenge in challenge_list %}
                        <option value="{{challenge.id}}">{{challenge.name}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-light btn-social mx-1" type="submit"><i class="fas fa-fw fa-comment"></i></button>
            </form>
        </div>
    </div>
</section>
{% endwith %}
{% endblock %}