{% extends 'base.html' %}

{% block title %}Fórum{% endblock %}

{% block content %}
<section class="masthead page-section text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-secondary">Fórum</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-secondary">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="far fa-grin-stars"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row post_list">
            {% with profile=user.profile%}
            {% if profile %}
                <div class="col-lg-8 rounded bg-primary text-light post">
                    <form method="POST" class="forum-form">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-outline-light btn-social mx-1" type="submit"><i class="fas fa-fw fa-comment"></i></button>
                    </form>
                </div>
            {% endif %}
            {% endwith %}
        </div>
        {% for post in post_list %}
        <div class="row post_list">
            <div class="col-lg-8 rounded bg-primary text-light post">
                <p class="pre-wrap lead autor">{{ post.author }}</p>
                {{ post.date }}
                <p class="pre-wrap lead">{{ post.post }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}