{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}Profil{% endblock %}

{% block content %}
{% with profile=user.profile%}
<section class="masthead page-section text-secondary mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            {% if profile %}
                <h2 class="page-section-heading d-inline-block text-secondary">{{profile.nickname|default:""}}</h2>
            {% else %}
                <h2 class="page-section-heading d-inline-block text-secondary">{{user.username}}</h2>
            {% endif %}
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-secondary">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="far fa-grin-stars"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row profile_list">
            <div class="col-lg-5 ml-auto .profile_block">
                <div class="rounded bg-primary text-light avatar">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td rowspan="10">
                                    <img src="{% static 'images/avatar/sc_4.png' %}" class="schopnosti img-fluid img-responsive" alt="SKAUT">
                                </td>
                                <!-- Zjednodušení kódu-->
                                {% for category in category_list %}
                                    {% with index=category.id|sub:1 %}
                                        {{ challenge_count.1 }}
                                    {% endwith %}
                                {% endfor %}
                                <!-- Zhoršení kódu-->
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 0 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 0 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 0 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 1 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 1 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 1 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 2 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 2 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 2 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 3 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 3 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 3 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 4 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 4 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 4 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 5 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 5 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 5 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 6 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 6 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 6 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 7 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 7 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 7 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 8 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 8 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 8 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 9 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 9 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 9 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-5 mr-auto .profile_block">
                <div class="rounded bg-primary text-light bio">
                    <p class="pre-wrap lead">{{ profile.bio|default:""}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock %}