{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}Profil{% endblock %}

{% block content %}
{% with profile=user.profile%}
<section class="masthead page-section text-secondary mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            {% if profile %}
                <h2 class="page-section-heading d-inline-block text-secondary">{{profile.nickname|default:""}}</h2>
            {% else %}
                <h2 class="page-section-heading d-inline-block text-secondary">{{user.username}}</h2>
            {% endif %}
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-secondary">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="far fa-grin-stars"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row profile_list">
            <div class="col-lg-5 ml-auto .profile_block">
                <div class="rounded bg-primary text-light avatar">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td rowspan="10">
                                    <div class="parent">
                                        {% if challenge_count.2 >= 10 %}
                                            <img src="{% static 'images/avatar/pr_10.png' %}" class="background img-fluid img-responsive" alt="spolecnik10">
                                        {% elif challenge_count.2 == 9 %}
                                            <img src="{% static 'images/avatar/pr_9.png' %}" class="background img-fluid img-responsive" alt="spolecnik9">
                                        {% elif challenge_count.2 == 8 %}
                                            <img src="{% static 'images/avatar/pr_8.png' %}" class="background img-fluid img-responsive" alt="spolecnik8">
                                        {% elif challenge_count.2 == 7 %}
                                            <img src="{% static 'images/avatar/pr_7.png' %}" class="background img-fluid img-responsive" alt="spolecnik7">
                                        {% elif challenge_count.2 == 6 %}
                                            <img src="{% static 'images/avatar/pr_6.png' %}" class="background img-fluid img-responsive" alt="spolecnik6">
                                        {% elif challenge_count.2 == 5 %}
                                            <img src="{% static 'images/avatar/pr_5.png' %}" class="background img-fluid img-responsive" alt="spolecnik5">
                                        {% elif challenge_count.2 == 4 %}
                                            <img src="{% static 'images/avatar/pr_4.png' %}" class="background img-fluid img-responsive" alt="spolecnik4">
                                        {% elif challenge_count.2 == 3 %}
                                            <img src="{% static 'images/avatar/pr_3.png' %}" class="background img-fluid img-responsive" alt="spolecnik3">
                                        {% elif challenge_count.2 == 2 %}
                                            <img src="{% static 'images/avatar/pr_2.png' %}" class="background img-fluid img-responsive" alt="spolecnik2">
                                        {% elif challenge_count.2 == 1 %}
                                            <img src="{% static 'images/avatar/pr_1.png' %}" class="background img-fluid img-responsive" alt="spolecnik1">
                                        {% else %}
                                            <img src="{% static 'images/avatar/pr_0.png' %}" class="background img-fluid img-responsive" alt="spolecnik0">
                                        {% endif %}

                                        {% if challenge_count.0 >= 10 %}
                                            <img src="{% static 'images/avatar/sc_10.png' %}" class="foreground img-fluid img-responsive" alt="zbran10">
                                        {% elif challenge_count.0 == 9 %}
                                            <img src="{% static 'images/avatar/sc_9.png' %}" class="foreground img-fluid img-responsive" alt="zbran9">
                                        {% elif challenge_count.0 == 8 %}
                                            <img src="{% static 'images/avatar/sc_8.png' %}" class="foreground img-fluid img-responsive" alt="zbran8">
                                        {% elif challenge_count.0 == 7 %}
                                            <img src="{% static 'images/avatar/sc_7.png' %}" class="foreground img-fluid img-responsive" alt="zbran7">
                                        {% elif challenge_count.0 == 6 %}
                                            <img src="{% static 'images/avatar/sc_6.png' %}" class="foreground img-fluid img-responsive" alt="zbran6">
                                        {% elif challenge_count.0 == 5 %}
                                            <img src="{% static 'images/avatar/sc_5.png' %}" class="foreground img-fluid img-responsive" alt="zbran5">
                                        {% elif challenge_count.0 == 4 %}
                                            <img src="{% static 'images/avatar/sc_4.png' %}" class="foreground img-fluid img-responsive" alt="zbran4">
                                        {% elif challenge_count.0 == 3 %}
                                            <img src="{% static 'images/avatar/sc_3.png' %}" class="foreground img-fluid img-responsive" alt="zbran3">
                                        {% elif challenge_count.0 == 2 %}
                                            <img src="{% static 'images/avatar/sc_2.png' %}" class="foreground img-fluid img-responsive" alt="zbran2">
                                        {% elif challenge_count.0 == 1 %}
                                            <img src="{% static 'images/avatar/sc_1.png' %}" class="foreground img-fluid img-responsive" alt="zbran1">
                                        {% else %}
                                            <img src="{% static 'images/avatar/sc_0.png' %}" class="foreground img-fluid img-responsive" alt="zbran0">
                                        {% endif %}

                                        {% if challenge_count.1 >= 10 %}
                                            <img src="{% static 'images/avatar/zn_10.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka10">
                                        {% elif challenge_count.1 == 9 %}
                                            <img src="{% static 'images/avatar/zn_9.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka9">
                                        {% elif challenge_count.1 == 8 %}
                                            <img src="{% static 'images/avatar/zn_8.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka8">
                                        {% elif challenge_count.1 == 7 %}
                                            <img src="{% static 'images/avatar/zn_7.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka7">
                                        {% elif challenge_count.1 == 6 %}
                                            <img src="{% static 'images/avatar/zn_6.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka6">
                                        {% elif challenge_count.1 == 5 %}
                                            <img src="{% static 'images/avatar/zn_5.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka5">
                                        {% elif challenge_count.1 == 4 %}
                                            <img src="{% static 'images/avatar/zn_4.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka4">
                                        {% elif challenge_count.1 == 3 %}
                                            <img src="{% static 'images/avatar/zn_3.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka3">
                                        {% elif challenge_count.1 == 2 %}
                                            <img src="{% static 'images/avatar/zn_2.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka2">
                                        {% elif challenge_count.1 == 1 %}
                                            <img src="{% static 'images/avatar/zn_1.png' %}" class="foreground img-fluid img-responsive" alt="pokryvka1">
                                        {% else %}
                                            <img src="{% static 'images/avatar/zn_0.png' %}" class="foreground img-fluid img-responsive" alt="spolecnik0">
                                        {% endif %}
                                    </div>
                                </td>
                                <!-- Zjednodušení kódu-->
                                {% for category in category_list %}
                                    {% with index=category.id|sub:1 %}
                                    {% endwith %}
                                {% endfor %}
                                <!-- Zhoršení kódu-->
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 0 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 0 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 0 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 1 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 1 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 1 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 2 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 2 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 2 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 3 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 3 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 3 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 4 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 4 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 4 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 5 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 5 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 5 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 6 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 6 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 6 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 7 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 7 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 7 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 8 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 8 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 8 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for category in category_list %}
                                    {% if category.color == "red" %}
                                        {% if challenge_count.0 > 9 %}
                                            <td><img src="{% static 'images/dots/dot_red.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "blue" %}
                                        {% if challenge_count.1 > 9 %}
                                            <td><img src="{% static 'images/dots/dot_blue.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% elif category.color == "green" %}
                                        {% if challenge_count.2 > 9 %}
                                            <td><img src="{% static 'images/dots/dot_green.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% else %}
                                            <td><img src="{% static 'images/dots/dot_none.png' %}" class="img-fluid img-responsive" alt="point"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-5 mr-auto .profile_block">
                <div class="rounded bg-primary text-light bio">
                    <p class="pre-wrap lead">{{ profile.bio|default:""}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock %}